* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    width: 1440px;
    min-height: 100vh;
    background-color: #000000;
    position: relative;
}

button {
    width: 220px;
    height: 55px;
    background-color: #BDAE82;
    color: #000000;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    border: 2px solid #BDAE82;
}

button:hover {
    cursor: pointer;
    color: #ffffff;
}

h2 {
    position: relative;
    margin-top: 100px;
    margin-bottom: 60px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
}

h2::before {
    position: absolute;
    content: "";
    left: 370px;
    top: 38px;
    width: 274px;
    height: 2px;
    background-color: #BDAE82;
}

h2::after {
    position: absolute;
    content: "";
    right: 370px;
    top: 38px;
    width: 274px;
    height: 2px;
    background-color: #BDAE82;
}

.page-header {
    position: absolute;
    display: flex;
    width: 100%;
    min-height: 90px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    background-image: url("./img/logo/logo.svg");
    margin-left: 20px;
}

.wrapper-header-nav {
    display: flex;
    align-items: center;
}

.ul-nav {
    list-style: none;
}

.ul-nav>li {
    display: inline-block;
}

.ul-nav>li>a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;
    margin-right: 27px;
}

.ul-nav>li>a:hover {
    color: #bdae82;
}

.switch-lng {
    margin-right: 20px;
}

.switch-lng>span {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    padding-left: 4px;
}

.switch-lng>span:first-child:hover,
.switch-lng>span:last-child:hover {
    cursor: pointer;
}

.switch-lng .selected {
    color: #bdae82;
}

.hero {
    background-image: url("./img/images/bg.jpg");
    width: 100%;
    min-height: 910px;
    display: flex;
    align-items: center;
}

.hero-content {
    margin-left: 80px;
    margin-top: -80px;
}

.hero-title {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.hero-text {
    max-width: 470px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.skills-items {
    display: flex;
    justify-content: space-around;
}

.skills-item {
    flex-basis: 320px;
    text-align: center;
}

.skills-item>span {
    display: inline-block;
    width: 62px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.skills-item .camera-1 {
    background-image: url("./img/icons/camera-1.svg");
}

.skills-item .video-1 {
    background-image: url("./img/icons/video-1.svg");
}

.skills-item .image-1 {
    width: 66px;
    background-image: url("./img/icons/image-1.svg");
}

.skills-item .mic-1 {
    background-image: url("./img/icons/mic-1.svg");
}

.skills-item>h4 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 46px;
    margin-bottom: 21px;
}

.skills-item>p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 10px;
}
 .skills-item:last-child > p {
   max-width: 305px;
   margin: 0 auto;
 }